#ifndef _{MODNAME_UPPER}_INNER_H_
#define _{MODNAME_UPPER}_INNER_H_

#include "basemodule/basemodule.h"

/**	\\brief		子模块ID列表
 *	\\version	0.1	{DATE}	初版
 */
enum E_{MODNAME_UPPER}_MODID {{
	MODID_START = 0,
	/* TAG-INSERT-START#LocalModId */
	/* TAG-INSERT-END#LocalModId */
	MODID_MAX
}};

/**	\\brief		子模块管理类
 *	\\details	用于管理{MODNAME_CAP}所有私有子模块对象。
 *	\\version	0.1	{DATE}	初版
 */
class {MODNAME_UPPER}ModuleList : public BaseModuleList<E_{MODNAME_UPPER}_MODID> {{
public:
	{MODNAME_UPPER}ModuleList();
}};

#ifdef _{MODNAME_UPPER}_INNER_C_
{MODNAME_UPPER}ModuleList g_{MODNAME_LOWER_ABBREV}_mods;
#else
extern {MODNAME_UPPER}ModuleList g_{MODNAME_LOWER_ABBREV}_mods;
#endif

#endif
