#include "{MODNAME_LOWER}/{MODNAME_LOWER}.h"
#define _{MODNAME_UPPER}_INNER_C_
#include "{MODNAME_LOWER}_inner.h"
/* TAG-INSERT-START#LocalInclude */
/* TAG-INSERT-END#LocalInclude */

/**	\\brief		{MODNAME_CAP}模块对象构造函数
 *	\\details	
 *	\\version	0.1	{DATE}	初版
 */
{MODNAME_CAP}::{MODNAME_CAP}()
{{
}}

/**	\\brief		{MODNAME_CAP}模块对象析构函数
 *	\\details	
 *	\\version	0.1	{DATE}	初版
 */
{MODNAME_CAP}::~{MODNAME_CAP}()
{{
}}

/**	\\brief		{MODNAME_CAP}模块初始化函数
 *	\\details	
 *	\\version	0.1	{DATE}	初版
 */
VD {MODNAME_CAP}::init(VD)
{{
}}

/**	\\brief		{MODNAME_CAP}模块工作函数
 *	\\details	
 *	\\version	0.1	{DATE}	初版
 */
VD {MODNAME_CAP}::run(VD)
{{
}}

/**	\\brief		{MODNAME_CAP}模块退出函数
 *	\\details	
 *	\\version	0.1	{DATE}	初版
 */
VD {MODNAME_CAP}::exit(U1 u1_code)
{{
}}

/**	\\brief		子模块管理对象构造函数
 *	\\details	
 *	\\version	0.1	{DATE}	初版
 */
{MODNAME_UPPER}ModuleList::{MODNAME_UPPER}ModuleList()
{{
	/* TAG-INSERT-START#LocalModuleList */
	/* TAG-INSERT-END#LocalModuleList */
}}
