#ifndef _{MODNAME_UPPER}_H_
#define _{MODNAME_UPPER}_H_

#include "basemodule/basemodule.h"

class {MODNAME_CAP} : public BaseModule {{
public:
	{MODNAME_CAP}();
	virtual ~{MODNAME_CAP}();
	virtual VD init( VD );
	virtual VD run( VD );
	virtual VD exit( U1 u1_code );
}};

#endif /* _{MODNAME_UPPER}_H_ */
