#include "{MODNAME_LOWER_ABBREV}{SUBMODNAME_LOWER}.h"

/**	\\brief		{SUBMODNAME_CAP}对象构造函数
 *	\\details	
 *	\\version	0.1	{DATE}	初版
 */
{MODNAME_CAP_ABBREV}{SUBMODNAME_CAP}::{MODNAME_CAP_ABBREV}{SUBMODNAME_CAP}()
{{
}}

/**	\\brief		{SUBMODNAME_CAP}对象析构函数
 *	\\details	
 *	\\version	0.1	{DATE}	初版
 */
{MODNAME_CAP_ABBREV}{SUBMODNAME_CAP}::~{MODNAME_CAP_ABBREV}{SUBMODNAME_CAP}()
{{
}}
